:root {
  --main-color: rgba(255, 255, 255, 0.9);
  --sec-color: rgba(37, 37, 35, 0.663);
  --body--color: rgba(49, 72, 72, 0.8);
  --blog--color: rgba(68, 50, 63, 0.82);
}

html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%
}

body {
  margin: 0;
  padding: 0;
  width: 100%;
  background-color: var(--body--color);
  display: flex;
  height: 100%;
  font-family: Andale Mono, monospace;
  color: var(--main-color);
}

main {
  width: 100%;
  height: 100%;
}

h1 {
  text-align: center;
}

.back {
  background-color: var(--main-color);
  position: fixed;
  left: 0%;
  top: 0%;
  height: 100px;
  width: 200px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 0 0 30px 0;
}

.linkback {
  color: var(--sec-color);
  font-size: 12pt;
  text-decoration: none;
  transition: 0.5s;
}

.linkback:hover {
  color: var(--sec-color);
  font-size: 13pt;
  text-shadow: 2px 2px 5px var(--body--color);
}

article {
  line-height: 30pt;
  font-size: 16pt;
  padding-left: 20%;
  padding-top: 5%;
  width: 60%;
}